body {
  margin: 0;
  font-family:Arial, Helvetica, sans-serif;
  background-color: #050816;
  color:  #e5e7eb;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  position: fixed;
  width: 100%;
  top: 0;
  border-bottom: 1px solid #1e293b;
  background-color: #0f172a;
}
.logo {
  font-size: 20px; 
  color: lightblue;
}
nav {
  display: flex;
  gap: 20px;
  padding-right: 60px;
}
nav a {
  color: white;
  text-decoration: none;
  font-size: 15px;
}
nav a:hover {
  color: lightblue;
}
#home {
  text-align: center;
  padding: 150px 20px;
}
.homepage-text h1 {
  font-size: 36px;
  margin-bottom: 25px;
}
.homepage-text p {
  font-size: 15px;
  margin-bottom: 30px;
}
.buttons {
  display: flex;
  gap: 15px;
  justify-content: center;
}
.btn {
  background-color:lightblue;
  border-radius: 20px;
  padding: 10px 20px;
} 
.btns {
  background-color: rgb(112, 112, 148);
  border-radius: 20px;
  padding: 10px 20px;
  color: white;
}
.btn:hover {
  background-color: blue;
  color: white;
}
.buttons a {
  text-decoration: none;
  font-weight: 500;
}
.section {
  max-width: 1000px;
  margin: 60px auto;
  padding: 0 20px;
}
section h2 {
  text-decoration: underline;
  text-underline-offset: 15px;
  text-decoration-thickness: 3px;
  text-decoration-color: lightblue;
  margin-bottom: 40px;
  font-size: 28px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}
.project-card {
  background-color: #1f2937;
  padding: 10px;
  border-radius: 8px;
  max-width: 300px;
  margin-bottom: 40px;
}
.project-card p {
  font-size: 14px;
  line-height: 2;
}
.project-card button {
  background-color: lightblue;
  border: none;
  border-radius: 20px;
  padding: 8px 16px;
  cursor: pointer;
}
#faq {
  max-width: 1000px;
  margin: 60px auto;
  padding: 0 20px;
}
.faq-item {
  background-color: #1f2937;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
}
.faq-item p {
  font-size: 14px;
  line-height: 2;
}
.faq-item h3 {
  margin-bottom: 10px;
}
footer {
  text-align: center;
  padding: 5px;
  border-top: 1px solid #1e293b;
  font-size: 14px;
  background-color: #0f172a;
}
footer a {
  color: lightblue;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
@media (max-width: 900px) {
  .grid {
    grid-template-columns: 1fr;
  }

  header {
    flex-direction: column;
    gap: 10px;
    padding: 10px 20px;
  }
  nav {
    padding-right: 0;
  }
  #home {
    padding: 120px 10px;
  }
  
}